.popup-container {
  position: relative;
  display: inline-block;
}

.popup-content {
  position: absolute;
  z-index: 50;
  min-width: max-content;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 200ms ease-in-out;
}

.popup-position-top {
  bottom: calc(100% + 10px);
  left: 0;
}

.popup-position-bottom {
  top: calc(100% + 10px);
  left: 0;
}

.popup-position-left {
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

.popup-position-right {
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);
}