.search-wrapper {
    position: absolute;
    bottom: -7rem;
    max-width: 80rem;
    z-index: 30;
}

.search-container {
    max-width: 80rem;
    background: #fff;
    border-radius: 0 30px 30px 30px;
    padding: 3rem;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 50rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-container-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;
}

.button-search {
    background: #5baaff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    width: 50%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}